# REQUIRED - set this to the value of your organization access token
#            you can find this in your Synqly organization settings at
#            https://app.synqly.com/settings/secrets
SYNQLY_ORG_TOKEN=

# OPTIONAL - set this to the number of demo accounts to generate on startup
NUM_ACCOUNTS=5

# OPTIONAL - set this to the prefix for all generated accounts, so we can
             find them and clean up with scripts/clean-demo-data.mjs
DEMO_PREFIX=connect-nextjs-pages-demo-

# OPTIONAL - these two are used to identify the demo integration points,
             they are used when generating sample data on startup,
             when the app runs, and when cleaning up
NEXT_PUBLIC_AUDIT_LOG_EXPORT_ID=connect-nextjs-pages-demo-audit-log-export
NEXT_PUBLIC_SLACK_NOTIFICATIONS_ID=connect-nextjs-pages-demo-slack-notifications
